<!DOCTYPE html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page_title }}</title>
</head>
<body>
    <div class="container" >
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <h1 class="m-3">{{ page_title }}</h1>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>